{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<article>
  <header>
    <h3 class="article-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                     title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></h3>
  </header>
  {% include 'article_infos.html' %}
  {% include 'article_neighbors.html' %}
  <div class="content">
    {{ article.content }}
  </div class="content">
  {% include 'article_infos_bottom.html' %}

  {% include 'twitter.html' %}
  {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
  <h4>Comments</h4>
  {% include 'disqus_script.html' %}
  {% endif %}
</article>
{% endblock %}
