<h6 class="subheader" title="{{ article.date.isoformat() }}">{{ article.locale_date }}<br>
    Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {# {% if article.author %}
    By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    {% endif %} #}
</h6>

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}

