<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.min.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" />	
    <script src="{{ SITEURL }}/theme/js/modernizr.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    {% if article %}
    {% if article.header_assets %}
    {% for h in article.header_assets %}
    {{ h }}
    {% endfor %}
    {% endif %}
    {% endif %}

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {% if article %}
    {% if article.footer_assets %}
    {% for f in article.footer_assets %}
    {{ f }}
    {% endfor %}
    {% endif %}
    {% endif %}

</head>

<body>

<!-- Nav Bar -->
<nav>
<div class="top-bar">
<div class="row">
    <div class="large-9 large-centered columns">
           <h1><a href="{{ SITEURL }}">{{ SITENAME }} </a></h1><h3 class ="sitesubtitle">{{ SITESUBTITLE }}</h3>
    </div>
</div>
</div>

<!-- Show menu items and pages -->
<div class="row">
<div class="large-9 columns">
    <ul class="button-group navigation">
	{% for title, link in MENUITEMS %}
    <li><a href="{{ link }}" class="button secondary small">{{ title }}</a></li>
    {% endfor %}

    {% if DISPLAY_PAGES_ON_MENU %}
    {% for page in pages %}
    <li><a href="{{ SITEURL }}/{{ page.url }}" class="button secondary small">{{ page.title }}</a></li>
    {% endfor %}
    {% endif %}

    {% if DISPLAY_FEEDS_ON_MENU %}

    {% if FEED_ALL_ATOM %}
    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" 
           type="application/atom+xml" rel="alternate" class="button secondary small">Subscribe
      <i class="fa fa-rss fa-fw fa-lg"></i></a>
    </li>
    {% endif %}
    {% endif %}

    </ul>
</div>
</div>
</nav>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns">
    {% block content %}{% endblock %}
  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <aside class="large-3 columns">

    {% if SOCIAL %}
    <h5 class="sidebar-title">Find me here</h5>
    <ul class="side-nav">
      {% for name, link in SOCIAL %}
      <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    <h5 class="sidebar-title">Site</h5>
    <ul class="side-nav">


      {% if DISPLAY_PAGES_ON_SIDEBAR %}
      {% for page in pages %}
      <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
      <li><a href="{{ SITEURL }}/changelog.html">Changelog</a>
      {% endif %}


        <h5 class="sidebar-title">Posts</h5>
        <ul class="side-nav">
          {% if FEED_ATOM %}
          <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="alternate">Subscribe <i class="fa fa-rss fa-fw"></i></a</li>
          {% endif %}
          {% if FEED_RSS %}
          <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="alternate"><i class="fa fa-rss fa-fw"></i></a>RSS</li>
          {% endif %}
          <li><a href="{{ SITEURL }}/archives.html">Archives</a>
              <li><a href="{{ SITEURL }}/tags.html">Tags</a>
        </ul>

        {% if categories %}		
        <h5 class="sidebar-title">Categories</h5>
        <ul class="side-nav">
        {% for cat, null in categories %}
            <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}   
        </ul>
        {% endif %}

        {% if LINKS %}
        <h5 class="sidebar-title">Links</h5>
        <ul class="side-nav">
        {% for name, link in LINKS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
		
    </aside> <!-- End Sidebar -->

</div> <!-- End Main Content and Sidebar -->


<!-- Footer -->
<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
              <!--                  <p>{{ SITENAME }} by {{ AUTHOR }}</p> -->
            </div>
            </div>
    </div>
</footer>
{% include 'piwik.html' %}

</body>
</html>
