<ul>
 {% if article.prev_article %}
     <li>
         Previous: <a title="previous" href="{{ SITEURL }}/{{ article.prev_article.url}}">
             {{ article.prev_article.title }}
         </a>
     </li>
 {% endif %}
 {% if article.next_article %}
     <li>
         Next: <a title="next" href="{{ SITEURL }}/{{ article.next_article.url}}">
             {{ article.next_article.title }}
         </a>
     </li>
 {% endif %}
</ul>
